@model IEnumerable<Assignment3.Controllers.TrackBase>

@{
    ViewBag.Title = "Track Lists";
}

<h2>Track list (@ViewContext.RouteData.GetRequiredString("action"))</h2>

<p>
    @Html.ActionLink("All Tracks", "Index") |
    @Html.ActionLink("Pop Tracks", "/Pop") |
    @Html.ActionLink("Jon Lord (Deep Purple) Tracks", "/DeepPurple") |
    @Html.ActionLink("Longest Tracks", "/Top100Longest")




</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Composer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilliSeconds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilliSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bytes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>

        </tr>
    }

</table>
