@model Assignment4.Controllers.InvoiceWithDetail

@{
    ViewBag.Title = "Invoice Details";

    var customerName = string.Format("{0} {1}", Model.CustomerFirstName, Model.CustomerLastName);
    var customerCityState = string.Format("{0}, {1}", Model.CustomerCity, Model.CustomerState);
    var customerSalesRep = string.Format("{0} {1}", Model.CustomerEmployeeFirstName, Model.CustomerEmployeeLastName);
    var invoiceDate = Model.InvoiceDate.ToLongDateString();
}

<h2>Invoice Details</h2>

<div>
    <h4>Invoice and Customer Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd>
            @invoiceDate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <hr />
        <dd>
            @Html.DisplayFor(model => model.Total)
            <br />
            <br />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayName("Customer Name")
        </dt>
        <dd>
            @customerName <br />
            @customerCityState
        </dd>
        <dt>
            @Html.DisplayName("Sales Representative")
        </dt>
        <dd>
            @customerSalesRep
            <br />
            <br />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddress) <br />
            @customerCityState
            @Html.DisplayFor(model => model.BillingCountry) <br />
            @Html.DisplayFor(model => model.BillingPostalCode)
        </dd>
    </dl>
</div>

<h4>Line Item Detail</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr class="info">
            <th>
                @Html.DisplayName("Invoice Line ID")
            </th>
            <th>
                @Html.DisplayName("Track ID")
            </th>
            <th>
                @Html.DisplayName("Track Info")
            </th>
            <th>
                @Html.DisplayName("Unit Price")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("Item Total")
            </th>
        </tr>

        @foreach (var prop in Model.InvoiceLines)
        {
            var totalPrice = (@prop.Quantity * @prop.UnitPrice);

            <tr>
                <td>
                    @prop.InvoiceLineId
                </td>
                <td>
                    @prop.TrackId
                </td>
                <td>
                    @prop.TrackName <br />
                    By: @prop.TrackAlbumArtistName <br />
                    Composer(s): @prop.TrackComposer <br />
                    Format: @prop.TrackMediaTypeName<br />
                </td>
                <td>
                    @prop.UnitPrice
                </td>
                <td>
                    @prop.Quantity
                </td>
                <td>
                    @totalPrice
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
