@model Assignment9.Controllers.TrackWithDetail

<div>
    <h4>@Html.DisplayFor(model => model.Name) </h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AudioUpload)
        </dt>

        <dd>
            <audio preload="auto" src="/clip/@Model.Id" controls="controls"></audio>
            <hr />
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Composers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composers)
            <hr />
        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) 
</p>
